{% extends "index.html" %}
    {% block head %}
    <title>About Us</title>
    <link rel="stylesheet" href="/static/menu.css">
    {% endblock %}
    {% block navbar %}
    <li><a href="/">GROUP 2: PORTFOLIO</a></li>
    <div>
        <li><a href="/">HOME</a></li>
        <li><a href="/works">WORKS</a></li>
        <li><a href="/about" class="about-link">ABOUT US</a></li>
    </div>
    {% endblock %}
    {% block inside_second_division %}
    <div class="inside-second-division">
        <h1>About Us</h1>
        <p style="text-align: center;">
            We are a group of computer engineering students who share a passion for data structures and algorithms. 
            We created this website to showcase our projects and skills in this subject, as well as to share our insights and experiences with other learners. 
            Our goal is to demonstrate how data structures and algorithms can be applied to solve real-world problems and to inspire others to explore this fascinating field of computer engineering.
        </p>
    </div>
    {% endblock %}
