{% extends "index.html" %}
    {% block head %}
    <title>Garcia's Profile</title>
    <link rel="stylesheet" href="/static/profile.css">
    {% endblock %}
    {% block navbar %}
    <li><a href="/">GROUP 2: PORTFOLIO</a></li>
    <div>
        <li><a href="/">HOME</a></li>
        <li><a href="/works">WORKS</a></li>
        <li><a href="/about">ABOUT US</a></li>
    </div>
    {% endblock %}
    {% block profile %}
    <img src="/static/garcia.jpg" alt="Garcia's Picture">
    {% endblock %}
    {% block inside_second_division %}
    <div class="inside-second-division">
        <div id="slider" style="width: 100%; overflow: hidden;">
            <div id="slider-content">
                <div class="content">
                    <h1>Profile</h1>
                    <p>
                        Name: Crisanto Lemuel Garcia <br> 
                        Age: 20 <br> 
                        School: Polytechnic University of the Philippines <br> 
                        Course: Bachelor of Science in Computer Engineering <br> 
                        Section: BSCPE 2-6 <br>  
                        Subject: Data Structures and Algorithms <br> 
                        Organization: Move to the Groove (M2TG) || AnyCreator PH <br>
                        Motto: "Always hope for the best and prepare for the worst."
                    </p>
                </div>
                <div class="content">
                    <h1>Contact</h1>
                    <p>
                        Facebook: <a href="https://www.facebook.com/lemuel.estavillo">Lemuel Garcia</a> <br> 
                        Instagram: <a href="https://www.instagram.com/lemuelgarciayt/">Lemuel Garcia</a> <br> 
                        YouTube: <a href="https://www.youtube.com/lemuelestavillo">Lemuel Garcia</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button onclick="slide(0)">&laquo;</button>
            <button onclick="slide(1)">&raquo;</button>
        </div>
    </div>
    {% endblock %}
