{% extends "index.html" %}
    {% block head %}
    <title>Infix to Postfix</title>
    <link rel="stylesheet" href="/static/works.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
    {% block navbar %}
    <li><a href="/">GROUP 2: PORTFOLIO</a></li>
    <div>
        <li><a href="/">HOME</a></li>
        <li><a href="/works" class="works-link">WORKS</a></li>
        <li><a href="/about">ABOUT US</a></li>
    </div>
    {% endblock %}
    {% block inside_second_division %}
    <div class="inside-second-division">
        <h1>Infix to Postfix</h1>
        <form action="/infix_postfix" method="post">
            <input type="text" id="infix" name="infix" class="input" placeholder="Enter infix expression." >
            <div class="button-container">
                <button type="button" onclick="location.href='/works'" class="input-button">Back</button>
                <input type="submit" value="Convert" class="input-button">
            </div>
        </form>
        {% if result %}
        <h2 class="result-label">Result:</h2>
        <h3 class="result">{{ result }}</h3>
        {% endif %}
    </div>
    {% endblock %}
