{% extends "index.html" %}
    {% block head %}
    <title>Ramos' Profile</title>
    <link rel="stylesheet" href="/static/profile.css">
    {% endblock %}
    {% block navbar %}
    <li><a href="/">GROUP 2: PORTFOLIO</a></li>
    <div>
        <li><a href="/">HOME</a></li>
        <li><a href="/works">WORKS</a></li>
        <li><a href="/about">ABOUT US</a></li>
    </div>
    {% endblock %}
    {% block profile %}
    <img src="/static/ramos.png" alt="Ramos' Picture">
    {% endblock %}
    {% block inside_second_division %}
    <div class="inside-second-division">
        <div id="slider" style="width: 100%; overflow: hidden;">
            <div id="slider-content">
                <div class="content">
                    <h1>Profile</h1>
                    <p>
                        Name: Romulo D. Ramos Jr. <br> 
                        Course: Bachelor of Science in Computer Engineering <br> 
                        Section: BSCPE 2-6 <br>  
                        Subject: Data Structures and Algorithms <br> 
                        Motto: "Time is silver."
                    </p>
                </div>
                <div class="content">
                    <h1>Contact</h1>
                    <p>
                        Email: <a href="mailto:rdramosjr@outlook.com">rdramosjr@outlook.com</a> <br> 
                        Mobile Number: +63 907-814-7931 <br>  
                        Address: 2050 Ilang-ilang St., Sta. Mesa, Manila
                </div>
            </div>
        </div>
        <div class="button-container">
            <button onclick="slide(0)">&laquo;</button>
            <button onclick="slide(1)">&raquo;</button>
        </div>
    </div>
    {% endblock %}
